@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat&family=Poiret+One&display=swap');

:root {
    --gameboard-size: clamp(350px, 95vw, 600px);
    --bright-blue: rgb(0, 195, 255);
    --color-x: rgb(0, 185, 56);
    --color-o: rgb(194, 0, 201);
    font-family: 'Poiret One', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: clamp(60px, 17vw, 120px);
    font-family: 'Luckiest Guy', sans-serif;
    color: var(--bright-blue);
    margin-bottom: 30px;;
}

.gameboard {
    width: var(--gameboard-size);
    height: var(--gameboard-size);
    position: relative;
    border-radius: 20px;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, calc(var(--gameboard-size) / 3));
    grid-template-rows: repeat(3, calc(var(--gameboard-size) / 3));
}

.cell {
    border: 5px solid black;
    border-left: none;
    border-top: none;
    font-size: 100px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.cell[data-index="2"],
.cell[data-index="5"],
.cell[data-index="8"] {
    border-right: none;
}
.cell[data-index="6"],
.cell[data-index="7"],
.cell[data-index="8"] {
    border-bottom: none;
}
.cell.X {
    color: var(--color-x)
}
.cell.O {
    color: var(--color-o)
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 330px;
    text-align: center;
    background-color: var(--bright-blue);
    padding: 50px 50px 30px 50px;
    border-radius: 50px;
    color: white;
    opacity: 0;
    z-index: -1;
    transition: 300ms;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}

.modal.active {
    opacity: 0.9;
    z-index: 1;
}

.modal h2 {
    font-size: 48px;
    font-family: 'Luckiest Guy';
    margin-bottom: 30px;
}

.modal p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.modal p,
.modal h2,
#play-again {
    grid-column: 1 / 3;
    justify-self: center;  
}

.btn {
    background-color: transparent;
    color: white;
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 110px;
    justify-self: center;
}

.btn.symbol-button div {
    font-size: 60px;
}

.btn#play-again div {
    font-size: 30px;
}

.btn:focus {
    outline: 2px dotted grey;
}

.btn:hover {
    transform: scale(0.96);
    color: rgb(0, 0, 85);
    border-color: rgb(0, 0, 85);
    box-shadow: 0 0 5px rgb(0, 0, 85)
}

.btn img.normal,
.btn:hover img.hover {
    display: block;
}

.btn img.hover,
.btn:hover img.normal {
    display: none;
}

.btn div {
    font-size: 18px;
    font-weight: 700;
}

canvas {
    position: absolute;
    height: calc(var(--gameboard-size)*0.9);
    width: calc(var(--gameboard-size)*0.9);
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}